[submodule "woltlab-login"]
	path = woltlab-login
	url = https://github.com/vzekc/woltlab-login
[submodule "lispf"]
	path = lispf
	url = https://github.com/hanshuebner/lispf
[submodule "mel-base"]
	path = mel-base
	url = git@github.com:hanshuebner/mel-base.git
[submodule "cl-smtp"]
	path = cl-smtp
	url = git@github.com:hanshuebner/cl-smtp-hh.git
